<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us Section</title>
    <link rel="stylesheet" href="./stylesheets/about.css" />
    <!-- <link rel="stylesheet" href="./stylesheets/style-locationSelection.css" /> -->
    <script
      src="https://kit.fontawesome.com/47bf64b6cd.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <!-- Header -->
    <div class="header_wrapper">
      <div class="ejs_header">
        <a href="#" class="brand">Holiday Resort</a>
        <!-- <div class="navigation"> -->
        <div class="navigation-items">
          <a class="navv" href="/holidayresort">Home</a>
          <!-- <a href="/about">About</a> -->
          <a class="navv" href="/location-selection">Explore</a>
          <a class="navv" href="/plan">Plan</a>
        </div>
        <!-- </div> -->
      </div>
    </div>

    <div class="section">
      <div class="container">
        <div class="heading">
          <h1>Holiday Resort</h1>
        </div>
        <div class="heading">
          <h2>Your trusted trip plug...</h2>
        </div>
        <div class="title">
          <h2>About Us</h2>
        </div>
        <div class="content">
          <p class="write-up">
            The La Cruze brand is an household name in the hospitality/adventure
            sector. We have held ourselves to the highest attainable standard of
            unparalled luxury, impeccable customer relations and unhinged
            security and anonymity of our services. All thses has led to a
            persistent increase in the number of people who are excited and
            unyielding in their choice of we managing their next memorable over
            the world advneture. We are a commit brand of over 500staff members
            across the blobe ensuring your most outragious craving are exceeded.
          </p>
          <div class="title">
            <h2>Why Book With Us</h2>
          </div>
          <div class="footer">
            <i class="fa fa-globe icon"></i>
            <div class="footer-write">
              <h2>Worldwide Coverage</h2>
            </div>
            <div class="footer-write2">
              <p class="write-up">
                No matter where in the world you want the go, La cruze has got
                you covered. From hotels to beach reservations, to persnal golf
                tours,incluinh the most exclusive leasure parks in aevery corner
                of teh world. Our extensive network connects all corners of the
                globe.
              </p>
            </div>
          </div>
          <div class="footer">
            <i class="fa fa-tag icon"></i>
            <div class="footer-write">
              <h2>Luxury Guaranteed</h2>
            </div>
            <div class="footer-write2">
              <p class="write-up">
                Our clients are given the best reservations at any location and
                activity. We ensure VVIP treatment and we meet your taste to the
                letter at any cost.
              </p>
            </div>
          </div>
          <div class="footer">
            <i class="fa fa-award icon"></i>
            <div class="footer-write">
              <h2>Award-Winning Service</h2>
            </div>
            <div class="footer-write2">
              <p class="write-up">
                With La Cruze you can always travel worry free knowing that
                we're here if you need us. Our customer service team speaks
                multiple languages, with English service available 24 hours a
                day via phone, email, or directly through our mobile app.
              </p>
            </div>
          </div>
          <div class="footer">
            <i class="fas fa-shield-alt icon"></i>
            <div class="footer-write">
              <h2>Secure Payment</h2>
            </div>
            <div class="footer-write2">
              <p class="write-up">
                Data security is our top priority. Whether you're paying by
                credit card or via one of the multiple third party payment
                options available, your payment data will always be protected.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
