@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
/* membership import */
/* @import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url(https://fonts.googleapis.com/css?family=Montserrat:800); */
/* p{
    margin: 0px;
} */
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Dosis", sans-serif;
  /* overflow: hidden; */
}

.header_wrapper {
  background: linear-gradient(
      rgba(136, 107, 107, 0.8),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.4)
    ),
    url("../images/atoll-2179102.jpg");
  background-repeat: no-repeat;
  background-position: center;
  height: 80vh;
  background-size: cover;
  /* height: 100vh; */
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background: transparent;
}
.nav-container {
  display: flex;
}
.page {
  margin-right: 17px;
  font-size: 1.3em;
  color: #fff;
}
.page a {
  text-decoration: none;
  color: white;
}
.join_btn {
  color: white;
  background: greenyellow;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.explore_btn {
  color: white;
  background: #1a759f;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.page:hover {
  text-decoration: underline;
  transition: transform 2s;
}
span.join_btn:hover {
  transition: transform 10s;
  font-size: 22px;
}
span.explore_btn:hover {
  font-size: 22px;
  text-decoration: none;
}
.header-image {
  width: 100%;
  object-fit: contain;
}
/* location */
.location {
  /* margin: 250px 600px ; */
  position: absolute;
  top: 40%;
  left: 25%;
}
.destination {
  color: #ffffff;
  font-size: 1.7em;
}
.destination_text {
  font-family: "Roboto", sans-serif;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 5px;
  color: #ffffff;
  margin-bottom: 20px;
}
.input-destination {
  /* width: 60%;
  height: 50px; */
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: 17px;
  color: white;
  background-color: teal;
  cursor: pointer;
  text-decoration: none;
}
.input-destination a {
  text-decoration: none;
  color: white;
}
.input-destination:hover {
  text-decoration: underline;
}
.main_text {
  margin-top: 70px;
  text-align: center;
  font-size: 40px;
  font-family: "popping", sans-serif;
  initial-letter: 5px;
  font-weight: 300;
}

/* countries */
/* .countries {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.countries-head{
    margin-left: 30px;
    font-size: 20px;
}
.countries-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.country{
    border: 1px black solid;
    width: 30%;
    height: 300px;
    margin: 10px;
    text-align: center;
}
.img1 {
    background-image: url("./countries/cairo.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img2 {
    background-image: url("./countries/cape-town.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img3 {
    background-image: url("./countries/dubai.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img4 {
    background-image: url("./countries/fuerventura.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img5 {
    background-image: url("./countries/london.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img6 {
    background-image: url("./countries/mauritius.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* Activities */
/*
.activities-wrapper {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: auto;
}
.activity-head {
    margin-left: 30px;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    
}
.activity {
    border: 1px black solid;
    width: 20%;
    height: 300px;
    margin: 10px;
    text-align: center;
}
.activitypic1{
    background-image: url("./images/activities/astroturf.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic2{
    background-image: url("./images/activities/basketball2.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic3{
    background-image: url("./images/activities/beach-soccer.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic4{
    background-image: url("./images/activities/coastline-walk.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic5{
    background-image: url("./images/activities/golf.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic6{
    background-image: url("./images/activities/jet-skiing.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic7{
    background-image: url("./images/activities/kidsplay.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic8{
    background-image: url("./images/activities/paintball.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic9{
    background-image: url("./images/activities/volleyball.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
}
.activitypic10{
    background-image: url("./images/activities/windsurfing.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60%;
} 
*/
/* footer */
.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50vh;
  align-content: center;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  /* margin-right: 50px;
     margin-left: 50px; */
  background-color: #0096c7;
}
.footer-top {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.foot {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}
.first-column {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.second-column .third-column {
  width: 25%;
  display: flex;
  flex-direction: column;
}
hr {
  margin: 0px;
  background-color: #000000;
  padding: 0px;
}
.footer-bottom {
  width: 65%;
  margin: auto;
  background-color: #0096c7;
}
p.terms {
  float: right;
  margin: 0px;
}
/* Pricing page */
/* Acitivity Table */
.activity-pricing {
  width: 80%;
  margin: auto;
}
.activity-table {
  border: 1px solid #ccc;
  margin-bottom: 50px;
}
.table-header {
  font-size: 1.8em;
  margin: 30px;
}
.harsh-background {
  background-color: #ccc;
}
/* membership page */
/* ///////////////////////////////////////// */
.maintext {
  margin: auto;
  text-align: center;
  margin-top: 50px;
  font-size: 2em;
}
.membership-pricing {
  font-family: "Raleway", Arial, sans-serif;
  color: #000000;
  text-align: center;
  font-size: 16px;
  width: 100%;
  max-width: 1000px;
  margin: 40px 5px;
  margin: auto;
  margin-top: 150px;
}
.membership-pricing .plan {
  margin: 0px;
  width: 20%;
  position: relative;
  float: left;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;
}
.membership-pricing * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.membership-pricing header {
  position: relative;
}
.membership-pricing .plan-title {
  position: relative;
  top: 0;
  font-weight: 800;
  padding: 5px 15px;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: 0;
  display: inline-block;
  background-color: #0096c7;
  color: #ffffff;
  text-transform: uppercase;
}
.membership-pricing .plan-cost {
  padding: 0px 10px 20px;
}
.membership-pricing .plan-price {
  font-family: "Montserrat", Arial, sans-serif;
  font-weight: 800;
  font-size: 2.4em;
  color: #34495e;
}
.membership-pricing .plan-type {
  opacity: 0.6;
}
.membership-pricing .plan-features {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: outside none none;
  font-size: 0.8em;
}
.membership-pricing .plan-features li {
  border-top: 1px solid #d2d7e2;
  padding: 10px 5%;
}
.membership-pricing .plan-features li:nth-child(even) {
  background: rgba(0, 0, 0, 0.08);
}
.membership-pricing .plan-features i {
  margin-right: 8px;
  opacity: 0.4;
}
.membership-pricing .plan-select {
  border-top: 1px solid #d2d7e2;
  padding: 10px 10px 0;
}
.membership-pricing .plan-select a {
  background-color: #0096c7;
  color: #ffffff;
  text-decoration: none;
  padding: 0.5em 1em;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  font-weight: 800;
  text-transform: uppercase;
  display: inline-block;
}
.membership-pricing .plan-select a:hover {
  background-color: #46627f;
}
.membership-pricing .featured {
  margin-top: -10px;
  background-color: #34495e;
  color: #ffffff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.membership-pricing .featured .plan-title,
.membership-pricing .featured .plan-price {
  color: #ffffff;
}
.membership-pricing .featured .plan-cost {
  padding: 10px 10px 20px;
}
.membership-pricing .featured .plan-features li {
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.membership-pricing .featured .plan-select {
  padding: 20px 10px 0;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
@media only screen and (max-width: 767px) {
  .membership-pricing .plan {
    width: 50%;
  }
  .membership-pricing .plan-title,
  .membership-pricing .plan-select a {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .membership-pricing .plan-cost,
  .membership-pricing .featured .plan-cost {
    padding: 20px 10px 20px;
  }
  .membership-pricing .plan-select,
  .membership-pricing .featured .plan-select {
    padding: 10px 10px 10px;
  }
  .membership-pricing .featured {
    margin-top: 0;
  }
}

/* payment form styling */
/* #payform  */
.main-content {
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}
section.main-content {
  width: 20%;
  margin: 30px;
  margin-left: 35%;
  padding: 10px;
}
.membership-listing {
  display: flex;
  flex-direction: column;
}
.form_container {
  display: flex;
  border: none;
  border-radius: 10px;
  padding: 10px;
  background: #e3dcce;
}
section button {
  background: black;
  color: white;
}

.class {
  margin-bottom: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 10px;
  outline: none;
}

.input-field {
  padding: 5px;
  border-radius: 10px;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  margin-left: 35%;
}
/* membership pricing responsiveness */
@media only screen and (max-width: 440px) {
  .membership-pricing .plan {
    width: 100%;
  }
}
